/******************************************************************************/
/* Author: Clarence Adrian 																										*/
/* File_Type: CSS Stylesheet   																								*/
/* File_Name: template.css  																						    	*/
/* Additional_Files_Libraries:                                             	  */
/******************************************************************************/
/* COMMENT STYLES
Obtained from: patorjk.com/software/taag/

/*******************************************************************************
********************************************************************************
_____ _____ __  __ ____  _        _  _____ _____        ____ ____ ____
|_   _| ____|  \/  |  _ \| |      / \|_   _| ____|      / ___/ ___/ ___|
 | | |  _| | |\/| | |_) | |     / _ \ | | |  _|       | |   \___ \___ \
 | | | |___| |  | |  __/| |___ / ___ \| | | |___   _  | |___ ___) |__) |
 |_| |_____|_|  |_|_|   |_____/_/   \_\_| |_____| (_)  \____|____/____/

********************************************************************************
*******************************************************************************/

                              /* Document Start */

/******************************************************************************/

html, body {
  background-color: #1a1a1a;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  overflow: hidden; }

#body-container {
  top: 0;
  left: 0;
  width: 99%;
  height: 99%;
  position: absolute;
  overflow-x: hidden;
  z-index: 0; }


  /*

  .----..-..-.  .-..----..----.    .----. .-. .----..----. .-.     .--..-.  .-..----.
  | {_  | | \ \/ / | {_  | {}  \   | {}  \| |{ {__  | {}  }| |    / {} \ \/ /{ {__
  | |   | | / /\ \ | {__ |     /   |     /| |.-._} }| .--' | `--./  /\  \}  { .-._} }
  `-'   `-'`-'  `-'`----'`----'    `----' `-'`----' `-'    `----'`-'  `-'`--' `----'

  ********************************************************************************/
  /*		CONTACT PULL UP TAB (bottom left corner)
  *******************************************************************************/
  .contact-tab {
    /* Placeholder for entire contact tab */
    width: 100%;
    height: 100%;
    left: 0%;
    z-index: 1;
    overflow: hidden;
    color: #fff;
    font-family: "PT Sans", sans-serif; }

  .contact-1, .contact-2 {
    /* Box 1 - Contact Me and 2 - Link to Works */
    width: 30%;
    height: 100%;
    bottom: 0;
    position: fixed;
    text-align: right;
    visibility: hidden; }

  .contact-1.active {
    left: 0;
    background-color: rgba(0, 0, 0, 0.95);
    visibility: visible;
    animation: swipe-up 1s; }

  .contact-1.hidden {
    left: 0;
    background-color: rgba(0, 0, 0, 0.95);
    visibility: visible;
    animation: swipe-down 2s; }

  .contact-2.active {
    left: 30%;
    background-color: rgba(17, 17, 17, 0.95);
    visibility: visible;
    animation: swipe-up 1s; }

  .contact-2.hidden {
    left: 30%;
    background-color: rgba(17, 17, 17, 0.95);
    visibility: visible;
    animation: swipe-down 2s;
    animation-delay: 100ms; }

  .contact-3 {
    /* Box 3 - Map */
    width: 40%;
    height: 100%;
    left: 60%;
    bottom: 0;
    position: fixed;
    text-align: right;
    visibility: hidden; }

  .contact-3-img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0.95; }

  .contact-3.active {
    visibility: visible;
    animation: swipe-up 1s; }

  .contact-3.hidden {
    visibility: visible;
    animation: swipe-down 2s;
    animation-delay: 200ms; }

  .contact-h1, .contact-h2, .contact-h3 {
    /* Box Titles */
    font-size: 35px;
    top: 30%;
    right: 12%;
    position: relative; }

  .contact-h3 {
    top: 60%; }

  .contact-deets, .contact-deets-img {
    /* Box Title Information Details */
    color: #fff;
    float: right;
    text-decoration: none;
    font-size: 18px;
    top: 30%;
    right: 10%;
    position: relative;
    padding: 8px;
    clear: right; }

  #contact-LI, #contact-git {
    max-height: 5vw;
    max-width: 5vw; }

  .contact-deets:hover, .contact-deets-img:hover {
    transform: scale(1.08); }

  .contact-h3-deets {
    font-size: 18px;
    top: 60%;
    right: 10%;
    position: relative;
    padding: 8px; }

  /*	CONTACT TAB BUTTONS
  ********************************************************************************/
  .contact-button {
    /* Placeholder for Contact Button */
    position: fixed;
    bottom: 5%;
    left: 3%;
    visibility: hidden; }

  .contact-button-img, .contact-button-img-holder {
    height: 50px;
    width: 50px; }

  .contact-button-img-holder:hover {
    transform: scale(1.08); }

  .contact-button.active {
    visibility: visible;
    animation: fade 2.5s;
    transition: all 300ms; }

  .contact-button.active:hover {
    cursor: pointer; }

  .close-contact-tab {
    /* Placeholder for Exit Contact Menu Button */
    bottom: 15%;
    width: 50px;
    height: 20px;
    overflow: visible;
    padding-top: 5px;
    padding-bottom: 5px; }

  .close-contact-tab:nth-child(2) {
    padding-bottom: 15px; }

  .close-contact-tab:hover {
    transform: scale(1.08); }

  .close-contact-tab-img-1 {
    /* Exit Contact Menu Button Arrow 1 */
    width: 30px;
    /**** Animation: pull-up/pull-down ****/
    height: 20px;
    top: 0;
    left: 20%;
    position: relative;
    visibility: hidden; }

  .close-contact-tab-img-1.active {
    visibility: visible;
    animation: swipe-up 0.5s, fade 0.5s; }

  .close-contact-tab-img-1.hidden {
    visibility: visible;
    animation: swipe-down 0.5s, fadeout 0.5s;
    animation-delay: 50ms; }

  .close-contact-tab-img-2 {
    /* Exit Contact Menu Button Arrow 2 */
    width: 30px;
    /**** Animation: pull-up/pull-down ****/
    height: 20px;
    top: 0;
    left: 20%;
    position: relative;
    visibility: hidden; }

  .close-contact-tab-img-2.active {
    visibility: visible;
    animation: swipe-up 0.5s, fade 0.5s; }

  .close-contact-tab-img-2.hidden {
    visibility: visible;
    animation: swipe-down 0.5s, fadeout 0.5s; }

/*		BRAND LOGO (top left corner)
*******************************************************************************/
.top-brand {
  position: fixed;
  height: 50px;
  width: 50px;
  top: 5%;
  left: 3%;
}
.top-brand:hover {
  transform: scale(1.08);
  cursor: pointer;
}
.brand-img {
  stroke-dasharray:4500;
  fill: #FFFFFF;
  stroke: #FFFFFF;
  stroke-width: 20px;
  stroke-miterlimit: 10;
  visibility: hidden;
}
.brand-img.active {
  visibility: visible;
  animation: tracerbrand 5s;
}

.back-brand {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.back-brand-img {
  height: 100%;
  opacity: 0.3;
  visibility: hidden;
}


/*******************************************************************************
     _    _   _ ___ __  __    _  _____ ___ ___  _   _ ____
    / \  | \ | |_ _|  \/  |  / \|_   _|_ _/ _ \| \ | / ___|
   / _ \ |  \| || || |\/| | / _ \ | |  | | | | |  \| \___ \
  / ___ \| |\  || || |  | |/ ___ \| |  | | |_| | |\  |___) |
 /_/   \_\_| \_|___|_|  |_/_/   \_\_| |___\___/|_| \_|____/

	tag: animation section
*******************************************************************************/
@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeout {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes swipe-up {
  from {
    -webkit-transform: translateY(100%);
    transform: translateY(100%); }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes swipe-down {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  50% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0; }
  to {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0; } }
@keyframes tracerbrand {
  from {
    stroke-dashoffset: 4500;
    fill-opacity: 0; }
  30% {
    fill-opacity: 0; }
  60% {
    stroke-dashoffset: 0; }
  to {
    fill-opacity: 1; }}
