/******************************************************************************/
/* Author: Clarence Adrian 																										*/
/* File_Type: CSS Stylesheet   																								*/
/* File_Name: template.css  																						    	*/
/* Additional_Files_Libraries:                                             	  */
/******************************************************************************/
/* COMMENT STYLES
Obtained from: patorjk.com/software/taag/

/*******************************************************************************
********************************************************************************
_____ _____ __  __ ____  _        _  _____ _____        ____ ____ ____
|_   _| ____|  \/  |  _ \| |      / \|_   _| ____|      / ___/ ___/ ___|
 | | |  _| | |\/| | |_) | |     / _ \ | | |  _|       | |   \___ \___ \
 | | | |___| |  | |  __/| |___ / ___ \| | | |___   _  | |___ ___) |__) |
 |_| |_____|_|  |_|_|   |_____/_/   \_\_| |_____| (_)  \____|____/____/

********************************************************************************
*******************************************************************************/

                              /* Document Start */

/******************************************************************************/

html, body {
  background-color: #1a1a1a;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  overflow: hidden; }

#body-container {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute; }


/*
.----..-..-.  .-..----..----.    .----. .-. .----..----. .-.     .--..-.  .-..----.
| {_  | | \ \/ / | {_  | {}  \   | {}  \| |{ {__  | {}  }| |    / {} \ \/ /{ {__
| |   | | / /\ \ | {__ |     /   |     /| |.-._} }| .--' | `--./  /\  \}  { .-._} }
`-'   `-'`-'  `-'`----'`----'    `----' `-'`----' `-'    `----'`-'  `-'`--' `----'

********************************************************************************/
/*		CONTACT PULL UP TAB (bottom left corner)
*******************************************************************************/
.contact-tab {
  /* Placeholder for entire contact tab */
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow: hidden;
  position: unset;
  color: #fff;
  font-family: "PT Sans", sans-serif; }

.contact-1, .contact-2 {
  /* Box 1 - Contact Me and 2 - Link to Works */
  width: 30%;
  height: 100%;
  bottom: 0;
  position: fixed;
  text-align: right;
  visibility: hidden;
  z-index: 4; }

.contact-1.active {
  left: 0;
  background-color: rgba(0, 0, 0, 0.95);
  visibility: visible;
  animation: swipe-up 1s; }

.contact-1.hidden {
  left: 0;
  background-color: rgba(0, 0, 0, 0.95);
  visibility: visible;
  animation: swipe-down 2s; }

.contact-2.active {
  left: 30%;
  background-color: rgba(17, 17, 17, 0.95);
  visibility: visible;
  animation: swipe-up 1s; }

.contact-2.hidden {
  left: 30%;
  background-color: rgba(17, 17, 17, 0.95);
  visibility: visible;
  animation: swipe-down 2s;
  animation-delay: 100ms; }

.contact-3 {
  /* Box 3 - Map */
  width: 40%;
  height: 100%;
  left: 60%;
  bottom: 0;
  position: fixed;
  text-align: right;
  visibility: hidden;
  z-index: 4; }

.contact-3-img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  opacity: 0.95; }

.contact-3.active {
  visibility: visible;
  animation: swipe-up 1s; }

.contact-3.hidden {
  visibility: visible;
  animation: swipe-down 2s;
  animation-delay: 200ms; }

.contact-h1, .contact-h2, .contact-h3 {
  /* Box Titles */
  font-size: 5vh;
  top: 30%;
  right: 12%;
  position: relative; }

.contact-h3 {
  top: 60%; }

.contact-deets, .contact-deets-img {
  /* Box Title Information Details */
  color: #fff;
  float: right;
  text-decoration: none;
  font-size: 2.5vh;
  top: 30%;
  right: 10%;
  position: relative;
  padding: 1%;
  clear: right; }

#contact-LI, #contact-git {
  max-height: 5vh;
  max-width: 5vh; }

.contact-deets:hover, .contact-deets-img:hover {
  transform: scale(1.08); }

.contact-h3-deets {
  font-size: 2.5vh;
  top: 60%;
  right: 10%;
  position: relative;
  padding: 1%; }

/*	CONTACT TAB BUTTONS
********************************************************************************/
.contact-button {
  /* Placeholder for Contact Button */
  position: fixed;
  bottom: 5%;
  left: 3%;
  width: 3.5%;
  height: 15%;
  visibility: hidden;
  z-index: 5; }

.contact-button-img {
  height: auto;
  width: 100%; }

.contact-button-img-holder {
  height: 40%; }
.contact-button-img-holder:hover {
  transform: scale(1.08); }

.contact-button.active {
  visibility: visible;
  animation: fade 2.5s;
  transition: all 300ms; }

.contact-button.active:hover {
  cursor: pointer; }

.close-contact-tab {
  /* Placeholder for Exit Contact Menu Button */
  height: 20%;
  padding-bottom: 10%; }

.close-contact-tab:hover {
  transform: scale(1.08); }

.close-contact-tab-img {
  /* Exit Contact Menu Button Arrow 1 */
  /**** Animation: pull-up/pull-down ****/
  width: 60%;
  left: 20%;
  padding-bottom: 20%;
  position: absolute;
  visibility: hidden; }

.close-contact-tab-img.active {
  visibility: visible;
  animation: swipe-up 0.5s, fade 0.5s; }

.close-contact-tab-img.hidden {
  visibility: visible;
  animation: swipe-down 0.5s, fadeout 0.5s;
  animation-delay: 50ms; }

/*		BRAND LOGO (top left corner)
*******************************************************************************/
.top-brand {
  position: fixed;
  z-index: 1;
  top: 5%;
  left: 3%;
  height: auto;
  width: 3.5%; }

.top-brand:hover {
  transform: scale(1.08);
  cursor: pointer;
}
.brand-img {
  stroke-dasharray:4500;
  fill: #FFFFFF;
  stroke: #FFFFFF;
  stroke-width: 20px;
  stroke-miterlimit: 10;
  visibility: hidden; }

.brand-img.active {
  visibility: visible;
  animation: tracerbrand 5s; }

.back-brand {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 0; }
.back-brand-img {
  height: 100%;
  opacity: 0.3;
  visibility: visible; }


/*******************************************************************************
     _    _   _ ___ __  __    _  _____ ___ ___  _   _ ____
    / \  | \ | |_ _|  \/  |  / \|_   _|_ _/ _ \| \ | / ___|
   / _ \ |  \| || || |\/| | / _ \ | |  | | | | |  \| \___ \
  / ___ \| |\  || || |  | |/ ___ \| |  | | |_| | |\  |___) |
 /_/   \_\_| \_|___|_|  |_/_/   \_\_| |___\___/|_| \_|____/

	tag: animation section
*******************************************************************************/
@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeout {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes swipe-up {
  from {
    -webkit-transform: translateY(100%);
    transform: translateY(100%); }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes swipe-down {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  50% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0; }
  to {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0; } }
@keyframes swipe-right {
	from {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
	to {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@keyframes swipe-left {
	from {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity:1;
	}
	50% {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
		opacity:0;
	}
	to {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
		opacity:0;
	}
}
@keyframes tracerbrand {
  from {
    stroke-dashoffset: 4500;
    fill-opacity: 0; }
  30% {
    fill-opacity: 0; }
  60% {
    stroke-dashoffset: 0; }
  to {
    fill-opacity: 1; }}
@keyframes swipe-right-r {
	from {
		-webkit-transform: rotate(90deg) translateY(100%);
		transform: rotate(90deg) translateY(100%);
	}
	to {
		-webkit-transform: rotate(90deg) translateY(0);
		transform: rotate(90deg) translateY(0);
	}
}

@keyframes swipe-left-r {
	from {
		-webkit-transform: rotate(90deg) translateY(0);
		transform: rotate(90deg) translateY(0);
		opacity:1;
	}
	50% {
		-webkit-transform: rotate(90deg) translateY(100%);
		transform: rotate(90deg) translateY(100%);
		opacity:0;
	}
	to {
		-webkit-transform: rotate(90deg) translateY(100%);
		transform: rotate(90deg) translateY(100%);
		opacity:0;
	}
}

/*******************************************************************************
____  _____ ____  ____   ___  _   _ ____ _____     _______
|  _ \| ____/ ___||  _ \ / _ \| \ | / ___|_ _\ \   / / ____|
| |_) |  _| \___ \| |_) | | | |  \| \___ \| | \ \ / /|  _|
|  _ <| |___ ___) |  __/| |_| | |\  |___) | |  \ V / | |___
|_| \_\_____|____/|_|    \___/|_| \_|____/___|  \_/  |_____|

// tags: responsive
********************************************************************************/

/* Mobile Layout */
@media only screen
and (max-width: 800px)
and (min-height: 501px) {

  .top-brand {
    left: 5%;
    top: 3%;
    width: 10%; }

  .contact-button {
    left: 5%;
    bottom: 3%;
    width: 25%;
    height: 6%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end; }

  .contact-button-img-holder {
    height: 100%;
    float: right;
    padding-right: 5%;
    position: unset; }

  .contact-button-img {
    height: 100%;
    width: auto; }

  .close-contact-tab {
  /* Placeholder (span) for Exit Contact Menu Button */
    height: 100%;
    width: 20%;
    padding-bottom: unset;
    float: right; }
  .close-contact-tab:hover {
    transform: scale(1.08); }

  .close-contact-tab-img {
    /* Exit Contact Menu Button Arrows */
    /**** Animation: pull-up/pull-down ****/
    height: 50%;
    top: 25%;
    width: auto;
    left: unset;
    padding-bottom: unset;
    transform: rotate(90deg);
    position: absolute;
    visibility: hidden;
    width: unset; }
  .close-contact-tab-img.active {
    visibility: visible;
    animation: swipe-right-r 0.5s, fade 0.5s; }
  .close-contact-tab-img.hidden {
    visibility: visible;
    animation: swipe-left-r 0.5s, fadeout 0.5s;
    animation-delay: 50ms; }

  .contact-1, .contact-2 {
  	width: 100%;
  	height: 40%;
    left: unset;
  	position: fixed;
  	text-align: right;
  	visibility: hidden; }
  .contact-1.active {
  	top: 0;
    left: unset;
  	animation: swipe-right 1s; }
  .contact-1.hidden {
  	top: 0;
    left: unset;
  	animation: swipe-left 2s; }
  .contact-2 {
  	height: 30% }
  .contact-2.active {
  	top: 40%;
    left: unset;
  	animation: swipe-right 1s; }
  .contact-2.hidden {
  	top: 40%;
    left: unset;
  	animation: swipe-left 2s;
  	animation-delay: 100ms; }

  .contact-3 {
  	width: 100%;
  	height: 30%;
  	top: 70%;
    left: unset;
    bottom: unset; }
  .contact-3.active {
  	visibility: visible;
  	animation: swipe-right 1s; }
  .contact-3.hidden {
  	visibility: visible;
  	animation: swipe-left 2s;
  	animation-delay: 200ms; }

  .contact-h1, .contact-h2, .contact-h3 {
  	font-size: 4.5vh;
  	top: 10%;
  	right: 12%;
  	position: relative; }

  .contact-deets, .contact-deets-img {
  	font-size: 2vh;
  	top: 7%;
  	right: 10%;
  	position: relative;
  	padding: 4px;
  	clear: right; }
  #contact-LI, #contact-git {
  	max-height: 5vw;
  	max-width: 5vw; }

  .contact-h3-deets {
  	font-size: 2vh;
  	top: 7%;
  	right: 10%;
  	position: relative;
  	padding: 4px; }
}


/* 3000px and onwards (4K Screens and all) */
@media only screen
and (min-width: 3000px) {

}
