.page-container--about {
  height: unset;
  overflow-y: auto;
  position: unset;
}

.fullpage-wrapper {
  z-index: 1;
}

.section-div {
  border: 1px solid $white;
  height: 88vh;
  margin-bottom: 5vh;
  margin-left: 15%;
  margin-top: 5vh;
  text-align: center;
  width: 70%;
}
