
// TEMPLATE HEADER

.header {
	height: 15vh;
	max-height: 9em;
	position: fixed;
	top: 0;
	width: 100%;

	div {	&:hover { transform: scale(1.1); } }

	svg { max-height: 4em; max-width: 4em; }

	.header__logo, .header__navbutton {
		bottom: 0;
		cursor: pointer;
		position: absolute;
		transition: all 0.3s;
	}
	.header__logo {
		left: 4vw;
		@media screen and (max-width: 400px) { left: 5vw; }
		@media screen and (min-width: 1700px) { left: 2vw; }
	}
	.header__navbutton {
		right: 4vw;
		@media screen and (max-width: 400px) { right: 5vw; }
		@media screen and (min-width: 1700px) { right: 2vw; }
	}
}

// LANDING PAGE COMPONENTS

.landing {
	left: 50%;
	max-width: 65%;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;

	.landing__desc {
		font-family: Merriweather Sans;
		font-size: 1.4rem;
		font-style: normal;
		font-weight: normal;
		letter-spacing: 0.05em;
		line-height: 170%;
		margin: auto;
		max-width: 1300px;
		padding-top: 5em;
	}

	.landing__icons {
		display: flex;
		justify-content: center;

		a {
			cursor: pointer;
			padding: 1em;
			transform: scale(0.8);
			transition: all 0.3s;
			&:hover {	transform: scale(0.9); }
		}
		svg { max-height: 8em; max-width: 8em; }
	}

	.landing__name {
		font-family: Montserrat;
		font-size: 6rem;
		font-style: normal;
		font-weight: bold;
		line-height: 1.3;
	}
	.landing__title {
		.landing__title__svg {
			left: 50%;
			position: absolute;
			transform: translateX(-50%);

			svg { max-width: 60vw; }
		}
		.a { visibility: visible; }
		.b { visibility: hidden; }
		.c { visibility: hidden; }
	}
}

// NAVMENU

.navmenu {
	height: 100%;
	position: fixed;
	width: 100%;
}

.navmenu__transition-box {
	visibility: visible;
}

.nmtb1 { }
.nmtb2 { }
.nmtb3 { }
