
.page-container {
	background: $white;
	color: $black;
	height: 100vh;
	max-width: 100%;
	overflow: hidden;
	position: fixed;
	width: 100vw;
	transition: all 0.3s;
}
.page-container--grey {
	background: $dark;
	color: $white;
	transition: all 0.5s;
}

// TEMPLATE HEADER

.header--black, .header--dark, .headerr--dark2, .header--white {
	animation: swipe-down-in 0.5s ease-in;
}

.header {
	height: $header-height;
	position: fixed;
	top: 0;
	transition: opacity 0.5s;
	width: 100%;
	z-index: 10;

	div {	&:hover { transform: scale(1.1); } }

	svg {
		height: 4rem; max-width: 4rem;
		@media screen and (max-width: 600px) { height: 8rem; max-width: 6rem; }
	}

	.header__logo, .header__navbutton {
		cursor: pointer;
		max-height: 4rem;
		position: absolute;
		top: 2rem;
		transition: all 0.3s;
	}
	.header__logo {
		left: 3em;
		@media screen and (max-width: 400px) { left: 6vw; }
		@media screen and (min-width: 1700px) { left: 2vw; }
	}
	.header__navbutton {
		right: 3rem;
		z-index: 3;
		@media screen and (max-width: 400px) { right: 6vw; }
		@media screen and (min-width: 1700px) { right: 2vw; }
		svg { transform: scale(1.2); }
	}
}

// TEMPLATE NAVMENU

.navmenu-container {
	position: fixed;
	z-index: 5;

	.navmenu {
		align-items: center;
		background-color: $white;
		color: black;
		display: flex;
		height: 100vh;
		position: fixed;
		width: 100vw;
		z-index: 1;
	}
	.menu-item {
		display: flex;
		flex-direction: row;
		text-decoration: none;
		padding-bottom: 2rem;
	}
	.menu-container {
		margin-left: 10%;
	}
	.menu-item__indication {
		color: $black;
		font-family: 'Merriweather Sans', sans-serif;
		font-size: 3.6rem;
		font-weight: bold;
	}
	.menu-item-2 {
		align-items: flex-start;
		display: flex;
		flex-direction: column;
		font-family: 'Merriweather Sans', sans-serif;
		position: relative;
		text-align: left;
		&:hover {
			.menu-item__label { color: $black; }
			.menu-item__name::before { transform: translate3d(100%, 0, 0); }
			.menu-item__name::after { transform: translate3d(0, 0, 0); }
		}
	}

	.menu-item__name, .menu-item__label {
		display: inline-block;
		position: relative;
	}
	.menu-item__name {
		color: $black;
		font-size: 3.6rem;
		font-weight: bold;
		letter-spacing: 0.1em;
		line-height: 4rem;
		overflow: hidden;
		text-transform: uppercase;
		@media only screen and (max-width: 800px) {
			font-size: 6rem; line-height: 6rem; }
		@media only screen and (max-width: 450px) {
			font-size: 4.5rem; line-height: 5rem; }

		&::before, &::after {
			box-sizing: border-box;
	content: '';
			left: 0;
			position: absolute;
			transform: translate3d(-100%, 0, 0);
			transition: transform 0.7s cubic-bezier(0.7, 0, 0.3, 1);
			width: 100%;
		}
		&::before {
			height: 100%;
			top: 0;
		}
		&::after {
			height: 20%;
			top: 40%;
		}
	}

	.menu-item__name-1::before, .menu-item__name-1::after { background: $gradient-green; }
	.menu-item__name-2::before, .menu-item__name-2::after { background: $gradient-purple; }
	.menu-item__name-3::before, .menu-item__name-3::after { background: $gradient-red; }
	.menu-item__name-4::before, .menu-item__name-4::after { background: $gradient-yellow; }

	.menu-item__label {
		color: $grey;
		font-size: 1.4rem;
		letter-spacing: 0.1rem;
		line-height: 2.5rem;
		transition: color 0.5s ease-in;
		@media only screen and (max-width: 800px) { font-size: 2rem; line-height: 5rem; }
		@media only screen and (max-width: 450px) { font-size: 1.5rem; line-height: 4rem; }
	}

	.navmenu__transition-box {
		height: 100vh;
		position: fixed;
		width: 100vw;
		z-index: 2;
		.nmtb {
			background-color: $black;
			height: 100vh;
			position: fixed;
			top: 0;
			transform: translateY(100%);
			transition: transform 0.3s;
			width: 34%;
		}
		.nmtb.active { transform: translateY(0); }

		.nmtb1 { left: 0; }
		.nmtb2 { left: 33vw; }
		.nmtb3 { left: 66vw; }
	}

	@media screen and (min-height: 400px)
	and (max-width: 650px) {
		.nmtb {
			height: 34vh;
			left: 0;
			transform: translateX(-100%);
			width: 100vw;
		}
		.nmtb.active { transform: translateX(0); }

		.nmtb1 { top: 0; }
		.nmtb2 { top: 33vh; }
		.nmtb3 { top: 66vh; }
	}

}
