/******************************************************************************/
/* Author: Clarence Adrian 																										*/
/* File_Type: CSS Stylesheet   																								*/
/* File_Name: home.css  																						        	*/
/* Additional_Files_Libraries:                                             	  */
/******************************************************************************/
/* COMMENT STYLES
Obtained from: patorjk.com/software/taag/

/*******************************************************************************
********************************************************************************
 _   _  ___  __  __ _____        ____ ____ ____
| | | |/ _ \|  \/  | ____|      / ___/ ___/ ___|
| |_| | | | | |\/| |  _|       | |   \___ \___ \
|  _  | |_| | |  | | |___   _  | |___ ___) |__) |
|_| |_|\___/|_|  |_|_____| (_)  \____|____/____/

********************************************************************************
*******************************************************************************/

                              /* Document Start */

/******************************************************************************/

html, body {
  background-color: #1a1a1a;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  overflow: hidden; }

#body-container {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute; }

/*	Left Placeholder
*******************************************************************************/

.left-mainpage {
  float: left;
  width: 50%;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: right;
  transition: all 1s ease; }

.header {
  text-align: right;
  width: 60%;
  position: relative;
  visibility: hidden;
  z-index: 1;
  padding-right: 8%; }
.header.active {
  visibility: visible;
  animation: fade 3s ease-in-out; }

.intro {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 8vh;
  font-weight: bold;
  margin: 0; }

.description {
  color: #fff;
  font-family: "PT Sans", sans-serif;
  font-size: 2.5vh;
  margin-top: 5%; }
.color {
  color: #3caea3; }
.bold {
  font-weight: bold; }

/*	Right Placeholder
*******************************************************************************/

.right-mainpage {
  float: left;
  width: 50%;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  transition: all 1s ease; }

.homelist-holder {
  /* Centered div containing all text files */
  padding-left: 5%;
  width: 60%;
  position: relative;
  top: -5%;
  clear: both;
  direction: ltr; }

.title {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  visibility: hidden;
  list-style-type: none;
  text-decoration: none;
  padding-bottom: 4vh;
  padding-top: 4vh;
  font-size: 4vh;
  font-weight: 900; }
.title.active {
  visibility: visible;
  animation: slide-in 1s ease-in-out, fade 2s ease-in-out; }

.caption {
  color: #fff;
  font-family: "PT Sans", sans-serif;
  visibility: hidden;
  list-style-type: none;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  font-size: 2.5vh;
  position: relative; }
.caption.active {
  visibility: visible;
  animation: slide-in 1s ease-in-out, fade 2s ease-in-out;}

.textanim {
  position: absolute;
  text-decoration: none;
  color: #fff;
  z-index: 1;
  opacity: 0; }

.textanim.head {
  z-index: 1;
  opacity: 0;
  color: #fff; }


/*	HEADER 1
*******************************************************************************/
#aboutme-h1 {
  /* Header Style 1 */
  z-index: 0;
  opacity: 1; }

#aboutme-h2 {
  /* Header Style 1 Anims */
  left: 82px;
  background-color: #1a1a1a;
  text-shadow: 3px 0 purple;
  clip-path: polygon(0 20%, 100% 20%, 100% 32%, 0 32%); }

#th-h-list1:hover #aboutme-h2 {
  opacity: 1;
  animation: blinkonmax 17s infinite alternate-reverse; }

#aboutme-h3 {
  /* Header Style 1 Anims */
  left: 78px;
  background-color: #1a1a1a;
  text-shadow: -5px 0 #ee6a62;
  clip-path: polygon(0 32%, 100% 32%, 100% 44%, 0 44%); }

#th-h-list1:hover #aboutme-h3 {
  opacity: 1;
  animation: blinkonmax 12s infinite alternate-reverse; }

#aboutme-h4 {
  /* Header Style 1 Anims */
  left: 82px;
  background-color: #1a1a1a;
  text-shadow: 3px 0 green;
  clip-path: polygon(0 44%, 100% 44%, 100% 56%, 0 56%); }

#th-h-list1:hover #aboutme-h4 {
  opacity: 1;
  animation: blinkonmax 16s infinite alternate-reverse; }

#aboutme-h5 {
  /* Header Style 1 Anims */
  left: 77px;
  background-color: #1a1a1a;
  text-shadow: -5px 0 #62ee9c;
  clip-path: polygon(0 56%, 100% 56%, 100% 68%, 0 68%);}

#th-h-list1:hover #aboutme-h5 {
  opacity: 1;
  animation: blinkonmax 13s infinite alternate-reverse; }

#aboutme-h6 {
  /* Header Style 1 Anims */
  left: 83px;
  background-color: #1a1a1a;
  text-shadow: 5px 0 #ee6a62;
  clip-path: polygon(0 68%, 100% 68%, 100% 80%, 0 80%); }

#th-h-list1:hover #aboutme-h6 {
  opacity: 1;
  animation: blinkonmax 15s infinite alternate-reverse; }

/*	Content 1 CONTENT A
*******************************************************************************/
#th-c-list1 {
  cursor: url(../media/maintenance-cursor.png), not-allowed; }

#pshow-l1 {
  /* Content Style 1 */
  z-index: 0;
  opacity: 1;
  color: #aaa; }

#th-c-list1:hover #pshow-l1 {
  transform: scale(1.08);
  color: #fff; }

#pshow-l2 {
  /* Content Style 1 Anims */
  left: 14px;
  background-color: #1a1a1a;
  text-shadow: 3px 0 #9c62ee;
  clip-path: polygon(0 10%, 100% 10%, 100% 25%, 0 25%); }

#th-c-list1:hover #pshow-l2 {
  opacity: 1;
  animation: blinkonmax 12s infinite alternate-reverse; }

#pshow-l3 {
  /* Content Style 1 Anims */
  left: -13px;
  background-color: #1a1a1a;
  text-shadow: -5px 0 #ee6a62;
  clip-path: polygon(0 25%, 100% 25%, 100% 35%, 0 35%); }

#th-c-list1:hover #pshow-l3 {
  opacity: 1;
  animation: blinkonmax 19s infinite alternate-reverse; }

#pshow-l4 {
  /* Content Style 1 Anims */
  left: -14px;
  background-color: #1a1a1a;
  text-shadow: 3px 0 green;
  clip-path: polygon(0 50%, 100% 50%, 100% 65%, 0 65%); }

#th-c-list1:hover #pshow-l4 {
  opacity: 1;
  animation: blinkonmax 13s infinite alternate-reverse; }

#pshow-l5 {
  /* Content Style 1 Anims */
  left: 13px;
  background-color: #1a1a1a;
  text-shadow: -5px 0 #62ee9c;
  clip-path: polygon(0 35%, 100% 35%, 100% 50%, 0 50%); }

#th-c-list1:hover #pshow-l5 {
  opacity: 1;
  animation: blinkonmax 15s infinite alternate-reverse; }

#pshow-l6 {
  /* Content Style 1 Anims */
  left: -13px;
  background-color: #1a1a1a;
  text-shadow: 5px 0 #ee6a62;
  clip-path: polygon(0 65%, 100% 65%, 100% 80%, 0 80%); }

#th-c-list1:hover #pshow-l6 {
  opacity: 1;
  animation: blinkonmax 18s infinite alternate-reverse; }

/*	Content 1 CONTENT B
*******************************************************************************/
#th-c-list2 {
  cursor: url(../media/maintenance-cursor.png), not-allowed; }

#timeline-l1 {
  /* Content Style 2 */
  z-index: 0;
  opacity: 1;
  color: #aaa; }

#th-c-list2:hover #timeline-l1 {
  transform: scale(1.08);
  color: #fff; }

#timeline-l2 {
  /* Content Style 2 Anims */
  left: -12px;
  background-color: #1a1a1a;
  text-shadow: -5px 0 #9c62ee;
  clip-path: polygon(0 20%, 100% 20%, 100% 32%, 0 32%); }

#th-c-list2:hover #timeline-l2 {
  opacity: 1;
  animation: blinkonmax 16s infinite alternate-reverse; }

#timeline-l3 {
  /* Content Style 2 Anims */
  left: 13px;
  background-color: #1a1a1a;
  text-shadow: 3px 0 #ee6a62;
  clip-path: polygon(0 56%, 100% 56%, 100% 68%, 0 68%); }

#th-c-list2:hover #timeline-l3 {
  opacity: 1;
  animation: blinkonmax 12s infinite alternate-reverse; }

#timeline-l4 {
  /* Content Style 2 Anims */
  left: 6px;
  background-color: #1a1a1a;
  text-shadow: -2px 0 green;
  clip-path: polygon(0 68%, 100% 68%, 100% 80%, 0 80%); }

#th-c-list2:hover #timeline-l4 {
  opacity: 1;
  animation: blinkonmax 19s infinite alternate-reverse; }

#timeline-l5 {
  /* Content Style 2 Anims */
  left: 13px;
  background-color: #1a1a1a;
  text-shadow: 5px 0 purple;
  clip-path: polygon(0 32%, 100% 32%, 100% 44%, 0 44%); }

#th-c-list2:hover #timeline-l5 {
  opacity: 1;
  animation: blinkonmax 13s infinite alternate-reverse; }

#timeline-l6 {
  /* Content Style 2 Anims */
  left: -13px;
  background-color: #1a1a1a;
  text-shadow: -5px 0 pink;
  clip-path: polygon(0 44%, 100% 44%, 100% 56%, 0 56%); }

#th-c-list2:hover #timeline-l6 {
  opacity: 1;
  animation: blinkonmax 15s infinite alternate-reverse; }

/*	Header 2
*******************************************************************************/
#projects-h1 {
  /* Head Style 2 */
  z-index: 0;
  opacity: 1; }

#projects-h2 {
  /* Head Style 2 Anims */
  left: 72px;
  background-color: #1a1a1a;
  text-shadow: -5px 0 #9c62ee;
  clip-path: polygon(0 20%, 100% 20%, 100% 32%, 0 32%); }

#th-h-list2:hover #projects-h2 {
  opacity: 1;
  animation: blinkonmax 16s infinite alternate-reverse; }

#projects-h3 {
  /* Head Style 2 Anims */
  left: 78px;
  background-color: #1a1a1a;
  text-shadow: 3px 0 #ee6a62;
  clip-path: polygon(0 56%, 100% 56%, 100% 68%, 0 68%); }

#th-h-list2:hover #projects-h3 {
  opacity: 1;
  animation: blinkonmax 22s infinite alternate-reverse; }

#projects-h4 {
  /* Head Style 2 Anims */
  left: 82px;
  background-color: #1a1a1a;
  text-shadow: -2px 0 green;
  clip-path: polygon(0 68%, 100% 68%, 100% 80%, 0 80%); }

#th-h-list2:hover #projects-h4 {
  opacity: 1;
  animation: blinkonmax 19s infinite alternate-reverse; }

#projects-h5 {
  /* Head Style 2 Anims */
  left: 77px;
  background-color: #1a1a1a;
  text-shadow: 5px 0 #62ee9c;
  clip-path: polygon(0 20%, 100% 20%, 100% 32%, 0 32%); }

#th-h-list2:hover #projects-h5 {
  opacity: 1;
  animation: blinkonmax 13s infinite alternate-reverse; }

#projects-h6 {
  /* Head Style 2 Anims */
  left: 83px;
  background-color: #1a1a1a;
  text-shadow: -5px 0 #ee6a62;
  clip-path: polygon(0 44%, 100% 44%, 100% 56%, 0 56%); }

#th-h-list2:hover #projects-h6 {
  opacity: 1;
  animation: blinkonmax 15s infinite alternate-reverse; }

/*	Content 2 CONTENT A
*******************************************************************************/
#coinpick-l1 {
  /* Content Style 3 */
  z-index: 0;
  opacity: 1;
  color: #aaa; }

#th-c-list3:hover #coinpick-l1 {
  transform: scale(1.08);
  color: #fff; }

#coinpick-l2 {
  /* Content Style 3 Anims */
  left: 13px;
  background-color: #1a1a1a;
  text-shadow: -5px 0 #9c62ee;
  clip-path: polygon(0 20%, 100% 20%, 100% 32%, 0 32%); }

#th-c-list3:hover #coinpick-l2 {
  opacity: 1;
  animation: blinkonmax 16s infinite alternate-reverse; }

#coinpick-l3 {
  /* Content Style 3 Anims */
  left: -12px;
  background-color: #1a1a1a;
  text-shadow: 3px 0 #ee6a62;
  clip-path: polygon(0 56%, 100% 56%, 100% 68%, 0 68%); }

#th-c-list3:hover #coinpick-l3 {
  opacity: 1;
  animation: blinkonmax 22s infinite alternate-reverse; }

#coinpick-l4 {
  /* Content Style 3 Anims */
  left: 13px;
  background-color: #1a1a1a;
  text-shadow: -2px 0 green;
  clip-path: polygon(0 68%, 100% 68%, 100% 80%, 0 80%); }

#th-c-list3:hover #coinpick-l4 {
  opacity: 1;
  animation: blinkonmax 19s infinite alternate-reverse; }

#coinpick-l5 {
  /* Content Style 3 Anims */
  left: -13px;
  background-color: #1a1a1a;
  text-shadow: 5px 0 #62ee9c;
  clip-path: polygon(0 44%, 100% 44%, 100% 56%, 0 56%); }

#th-c-list3:hover #coinpick-l5 {
  opacity: 1;
  animation: blinkonmax 13s infinite alternate-reverse; }

#coinpick-l6 {
  /* Content Style 3 Anims */
  left: 8px;
  background-color: #1a1a1a;
  text-shadow: -5px 0 #ee6a62;
  clip-path: polygon(0 32%, 100% 32%, 100% 44%, 0 44%); }

#th-c-list3:hover #coinpick-l6 {
  opacity: 1;
  animation: blinkonmax 15s infinite alternate-reverse; }

/*	Content 2 CONTENT B
*******************************************************************************/
#oven-l1 {
  /* Content Style 4 */
  z-index: 0;
  opacity: 1;
  color: #aaa; }

#th-c-list4:hover #oven-l1 {
  transform: scale(1.08);
  color: #fff; }

#oven-l2 {
  /* Content Style 4 Anims */
  left: 13px;
  background-color: #1a1a1a;
  text-shadow: -5px 0 #9c62ee;
  clip-path: polygon(0 20%, 100% 20%, 100% 32%, 0 32%); }

#th-c-list4:hover #oven-l2 {
  opacity: 1;
  animation: blinkonmax 16s infinite alternate-reverse; }

#oven-l3 {
  /* Content Style 4 Anims */
  left: -12px;
  background-color: #1a1a1a;
  text-shadow: 3px 0 #ee6a62;
  clip-path: polygon(0 68%, 100% 68%, 100% 80%, 0 80%); }

#th-c-list4:hover #oven-l3 {
  opacity: 1;
  animation: blinkonmax 22s infinite alternate-reverse; }

#oven-l4 {
  /* Content Style 4 Anims */
  left: 13px;
  background-color: #1a1a1a;
  text-shadow: -2px 0 green;
  clip-path: polygon(0 56%, 100% 56%, 100% 68%, 0 68%); }

#th-c-list4:hover #oven-l4 {
  opacity: 1;
  animation: blinkonmax 19s infinite alternate-reverse; }

#oven-l5 {
  /* Content Style 4 Anims */
  left: -13px;
  background-color: #1a1a1a;
  text-shadow: 5px 0 #62ee9c;
  clip-path: polygon(0 32%, 100% 32%, 100% 44%, 0 44%); }

#th-c-list4:hover #oven-l5 {
  opacity: 1;
  animation: blinkonmax 13s infinite alternate-reverse; }

#oven-l6 {
  /* Content Style 4 Anims */
  left: 13px;
  background-color: #1a1a1a;
  text-shadow: -5px 0 #ee6a62;
  clip-path: polygon(0 44%, 100% 44%, 100% 56%, 0 56%); }

#th-c-list4:hover #oven-l6 {
  opacity: 1;
  animation: blinkonmax 15s infinite alternate-reverse; }

/*	Content 2 CONTENT C
*******************************************************************************/
#th-c-list5:hover #other-l1 {
  transform: scale(1.08);
  color: #fff; }

#other-l1 {
  /* Content Style 5 */
  z-index: 0;
  opacity: 1;
  color: #aaa; }

#other-l2 {
  /* Content Style 5 Anims */
  left: 13px;
  background-color: #1a1a1a;
  text-shadow: -5px 0 #9c62ee;
  clip-path: polygon(0 20%, 100% 20%, 100% 32%, 0 32%); }

#th-c-list5:hover #other-l2 {
  opacity: 1;
  animation: blinkonmax 16s infinite alternate-reverse; }

#other-l3 {
  /* Content Style 5 Anims */
  left: -12px;
  background-color: #1a1a1a;
  text-shadow: 3px 0 #ee6a62;
  clip-path: polygon(0 68%, 100% 68%, 100% 80%, 0 80%); }

#th-c-list5:hover #other-l3 {
  opacity: 1;
  animation: blinkonmax 22s infinite alternate-reverse; }

#other-l4 {
  /* Content Style 5 Anims */
  left: 13px;
  background-color: #1a1a1a;
  text-shadow: -2px 0 green;
  clip-path: polygon(0 56%, 100% 56%, 100% 68%, 0 68%); }

#th-c-list5:hover #other-l4 {
  opacity: 1;
  animation: blinkonmax 19s infinite alternate-reverse; }

#other-l5 {
  /* Content Style 5 Anims */
  left: -13px;
  background-color: #1a1a1a;
  text-shadow: 5px 0 #62ee9c;
  clip-path: polygon(0 32%, 100% 32%, 100% 44%, 0 44%); }

#th-c-list5:hover #other-l5 {
  opacity: 1;
  animation: blinkonmax 13s infinite alternate-reverse; }

#other-l6 {
  /* Content Style 5 Anims */
  left: 13px;
  background-color: #1a1a1a;
  text-shadow: -5px 0 #ee6a62;
  clip-path: polygon(0 44%, 100% 44%, 100% 56%, 0 56%); }

#th-c-list5:hover #other-l6 {
  opacity: 1;
  animation: blinkonmax 13s infinite alternate-reverse; }

/*	HEADER 3
*******************************************************************************/
#resume-h1 {
  /* Head Style 3 */
  z-index: 0;
  opacity: 1; }

#resume-h2 {
  /* Head Style 3 Anims */
  left: 82px;
  background-color: #1a1a1a;
  text-shadow: -5px 0 #9c62ee;
  clip-path: polygon(0 20%, 100% 20%, 100% 32%, 0 32%); }

#th-h-list3:hover #resume-h2 {
  opacity: 1;
  animation: blinkonmax 16s infinite alternate-reverse; }

#resume-h3 {
  /* Head Style 3 Anims */
  left: 78px;
  background-color: #1a1a1a;
  text-shadow: 3px 0 #ee6a62;
  clip-path: polygon(0 68%, 100% 68%, 100% 80%, 0 80%); }

#th-h-list3:hover #resume-h3 {
  opacity: 1;
  animation: blinkonmax 12s infinite alternate-reverse; }

#resume-h4 {
  /* Head Style 3 Anims */
  left: 88px;
  background-color: #1a1a1a;
  text-shadow: -2px 0 green;
  clip-path: polygon(0 32%, 100% 32%, 100% 44%, 0 44%); }

#th-h-list3:hover #resume-h4 {
  opacity: 1;
  animation: blinkonmax 19s infinite alternate-reverse; }

#resume-h5 {
  /* Head Style 3 Anims */
  left: 83px;
  background-color: #1a1a1a;
  text-shadow: 5px 0 #62ee9c;
  clip-path: polygon(0 44%, 100% 44%, 100% 56%, 0 56%); }

#th-h-list3:hover #resume-h5 {
  opacity: 1;
  animation: blinkonmax 13s infinite alternate-reverse; }

#resume-h6 {
  /* Head Style 3 Anims */
  left: 71px;
  background-color: #1a1a1a;
  text-shadow: -5px 0 #ee6a62;
  clip-path: polygon(0 56%, 100% 56%, 100% 68%, 0 68%); }

#th-h-list3:hover #resume-h6 {
  opacity: 1;
  animation: blinkonmax 15s infinite alternate-reverse; }

/*	Content 3 CONTENT A
*******************************************************************************/
#th-c-list6:hover #software-l1 {
  transform: scale(1.08);
  color: #fff; }

#software-l1 {
  /* Content Style 5 */
  z-index: 0;
  opacity: 1;
  color: #aaa; }

#software-l2 {
  /* Content Style 6 Anims */
  left: 13px;
  background-color: #1a1a1a;
  text-shadow: -5px 0 #9c62ee;
  clip-path: polygon(0 20%, 100% 20%, 100% 32%, 0 32%); }

#th-c-list6:hover #software-l2 {
  opacity: 1;
  animation: blinkonmax 16s infinite alternate-reverse; }

#software-l3 {
  /* Content Style 6 Anims */
  left: -12px;
  background-color: #1a1a1a;
  text-shadow: 3px 0 #ee6a62;
  clip-path: polygon(0 68%, 100% 68%, 100% 80%, 0 80%); }

#th-c-list6:hover #software-l3 {
  opacity: 1;
  animation: blinkonmax 22s infinite alternate-reverse; }

#software-l4 {
  /* Content Style 6 Anims */
  left: 13px;
  background-color: #1a1a1a;
  text-shadow: -2px 0 green;
  clip-path: polygon(0 56%, 100% 56%, 100% 68%, 0 68%); }

#th-c-list6:hover #software-l4 {
  opacity: 1;
  animation: blinkonmax 19s infinite alternate-reverse; }

#software-l5 {
  /* Content Style 6 Anims */
  left: -13px;
  background-color: #1a1a1a;
  text-shadow: 5px 0 #62ee9c;
  clip-path: polygon(0 32%, 100% 32%, 100% 44%, 0 44%); }

#th-c-list6:hover #software-l5 {
  opacity: 1;
  animation: blinkonmax 13s infinite alternate-reverse; }

#software-l6 {
  /* Content Style 6 Anims */
  left: 13px;
  background-color: #1a1a1a;
  text-shadow: -5px 0 #ee6a62;
  clip-path: polygon(0 44%, 100% 44%, 100% 56%, 0 56%); }

#th-c-list6:hover #software-l6 {
  opacity: 1;
  animation: blinkonmax 13s infinite alternate-reverse; }

/*	Content 3 CONTENT B
*******************************************************************************/
#th-c-list7:hover #hardware-l1 {
  transform: scale(1.08);
  color: #fff; }

#hardware-l1 {
  /* Content Style 5 */
  z-index: 0;
  opacity: 1;
  color: #aaa; }

#hardware-l2 {
  /* Content Style 7 Anims */
  left: 13px;
  background-color: #1a1a1a;
  text-shadow: -5px 0 #9c62ee;
  clip-path: polygon(0 20%, 100% 20%, 100% 32%, 0 32%); }

#th-c-list7:hover #hardware-l2 {
  opacity: 1;
  animation: blinkonmax 16s infinite alternate-reverse; }

#hardware-l3 {
  /* Content Style 7 Anims */
  left: -12px;
  background-color: #1a1a1a;
  text-shadow: 3px 0 #ee6a62;
  clip-path: polygon(0 68%, 100% 68%, 100% 80%, 0 80%); }

#th-c-list7:hover #hardware-l3 {
  opacity: 1;
  animation: blinkonmax 22s infinite alternate-reverse; }

#hardware-l4 {
  /* Content Style 7 Anims */
  left: 13px;
  background-color: #1a1a1a;
  text-shadow: -2px 0 green;
  clip-path: polygon(0 56%, 100% 56%, 100% 68%, 0 68%); }

#th-c-list7:hover #hardware-l4 {
  opacity: 1;
  animation: blinkonmax 19s infinite alternate-reverse; }

#hardware-l5 {
  /* Content Style 7 Anims */
  left: -13px;
  background-color: #1a1a1a;
  text-shadow: 5px 0 #62ee9c;
  clip-path: polygon(0 32%, 100% 32%, 100% 44%, 0 44%); }

#th-c-list7:hover #hardware-l5 {
  opacity: 1;
  animation: blinkonmax 13s infinite alternate-reverse; }

#hardware-l6 {
  /* Content Style 7 Anims */
  left: 13px;
  background-color: #1a1a1a;
  text-shadow: -5px 0 #ee6a62;
  clip-path: polygon(0 44%, 100% 44%, 100% 56%, 0 56%); }

#th-c-list7:hover #hardware-l6 {
  opacity: 1;
  animation: blinkonmax 13s infinite alternate-reverse; }


/*	HEADER 4
*******************************************************************************/
#th-h-list4 {
  cursor: url(../media/maintenance-cursor.png), not-allowed; }

#blog-h1 {
  /* Head Style 4 */
  z-index: 0;
  opacity: 1; }

#th-h-list4:hover #blog-h1 {
  transform: scale(1.08); }

#blog-h2 {
  /* Head Style 4 Anims */
  left: 82px;
  background-color: #1a1a1a;
  text-shadow: -5px 0 #9c62ee;
  clip-path: polygon(0 44%, 100% 44%, 100% 56%, 0 56%); }

#th-h-list4:hover #blog-h2 {
  opacity: 1;
  animation: blinkonmax 16s infinite alternate-reverse; }

#blog-h3 {
  /* Head Style 4 Anims */
  left: 88px;
  background-color: #1a1a1a;
  text-shadow: 3px 0 #ee6a62;
  clip-path: polygon(0 20%, 100% 20%, 100% 32%, 0 32%); }

#th-h-list4:hover #blog-h3 {
  opacity: 1;
  animation: blinkonmax 22s infinite alternate-reverse; }

#blog-h4 {
  /* Head Style 4 Anims */
  left: 78px;
  background-color: #1a1a1a;
  text-shadow: -2px 0 green;
  clip-path: polygon(0 68%, 100% 68%, 100% 80%, 0 80%); }

#th-h-list4:hover #blog-h4 {
  opacity: 1;
  animation: blinkonmax 19s infinite alternate-reverse; }

#blog-h5 {
  /* Head Style 4 Anims */
  left: 73px;
  background-color: #1a1a1a;
  text-shadow: 5px 0 #62ee9c;
  clip-path: polygon(0 32%, 100% 32%, 100% 44%, 0 44%); }

#th-h-list4:hover #blog-h5 {
  opacity: 1;
  animation: blinkonmax 13s infinite alternate-reverse; }

#blog-h6 {
  /* Head Style 4 Anims */
  left: 81px;
  background-color: #1a1a1a;
  text-shadow: -5px 0 #ee6a62;
  clip-path: polygon(0 56%, 100% 56%, 100% 68%, 0 68%); }

#th-h-list4:hover #blog-h6 {
  opacity: 1;
  animation: blinkonmax 15s infinite alternate-reverse; }


.line {
  height: 75vh;
  width: 0.5vh;
  position: absolute;
  background: #999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 2s ease; }

/*
.----..-..-.  .-..----..----.    .----. .-. .----..----. .-.     .--..-.  .-..----.
| {_  | | \ \/ / | {_  | {}  \   | {}  \| |{ {__  | {}  }| |    / {} \ \/ /{ {__
| |   | | / /\ \ | {__ |     /   |     /| |.-._} }| .--' | `--./  /\  \}  { .-._} }
`-'   `-'`-'  `-'`----'`----'    `----' `-'`----' `-'    `----'`-'  `-'`--' `----'

********************************************************************************/
/*		CONTACT PULL UP TAB (bottom left corner)
*******************************************************************************/
.contact-tab {
  /* Placeholder for entire contact tab */
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow: hidden;
  color: #fff;
  position: fixed;
  display: none;
  font-family: "PT Sans", sans-serif; }

.contact-1, .contact-2 {
  /* Box 1 - Contact Me and 2 - Link to Works */
  width: 30%;
  height: 100%;
  bottom: 0;
  position: fixed;
  text-align: right;
  visibility: hidden;
  z-index: 4; }

.contact-1.active {
  left: 0;
  background-color: rgba(0, 0, 0, 0.97);
  visibility: visible;
  animation: swipe-up 1s; }

.contact-1.hidden {
  left: 0;
  background-color: rgba(0, 0, 0, 0.97);
  visibility: visible;
  animation: swipe-down 2s; }

.contact-2.active {
  left: 30%;
  background-color: rgba(17, 17, 17, 0.97);
  visibility: visible;
  animation: swipe-up 1s; }

.contact-2.hidden {
  left: 30%;
  background-color: rgba(17, 17, 17, 0.97);
  visibility: visible;
  animation: swipe-down 2s;
  animation-delay: 100ms; }

.contact-3 {
  /* Box 3 - Map */
  width: 40%;
  height: 100%;
  left: 60%;
  bottom: 0;
  position: fixed;
  text-align: right;
  visibility: hidden;
  z-index: 4; }

.contact-3-img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  opacity: 0.97; }

.contact-3.active {
  visibility: visible;
  animation: swipe-up 1s; }

.contact-3.hidden {
  visibility: visible;
  animation: swipe-down 2s;
  animation-delay: 200ms; }

.contact-h1, .contact-h2, .contact-h3 {
  /* Box Titles */
  font-size: 5vh;
  top: 30%;
  right: 12%;
  position: relative; }

.contact-h3 {
  top: 60%; }

.contact-deets, .contact-deets-img {
  /* Box Title Information Details */
  color: #fff;
  float: right;
  text-decoration: none;
  font-size: 2.5vh;
  top: 30%;
  right: 10%;
  position: relative;
  padding: 1%;
  clear: right; }

.contact-deets.logo {
  clear: unset; }

#contact-LI, #contact-git, #contact-codepen, #contact-twit {
  max-height: 5vh;
  max-width: 5vh;
  padding-top: 3vh; }

.contact-deets:hover, .contact-deets-img:hover {
  transform: scale(1.08); }

.contact-h3-deets {
  font-size: 2.5vh;
  top: 60%;
  right: 10%;
  position: relative;
  padding: 1%; }

/*	CONTACT TAB BUTTONS
********************************************************************************/
.contact-button {
  /* Placeholder for Contact Button */
  position: fixed;
  bottom: 5%;
  left: 3%;
  width: 3.5%;
  height: 15%;
  visibility: visible;
  z-index: 5; }

.contact-button-img {
  height: auto;
  width: 100%; }

.contact-button-img-holder {
  height: 40%; }
.contact-button-img-holder:hover {
  transform: scale(1.08); }

.contact-button.active {
  visibility: visible;
  /* animation: fade 2.5s; */
  transition: all 300ms; }

.contact-button.active:hover {
  cursor: pointer; }

.close-contact-tab {
  /* Placeholder for Exit Contact Menu Button */
  height: 20%;
  padding-bottom: 10%; }

.close-contact-tab:hover {
  transform: scale(1.08); }

.close-contact-tab-img {
  /* Exit Contact Menu Button Arrow 1 */
  /**** Animation: pull-up/pull-down ****/
  width: 60%;
  left: 20%;
  padding-bottom: 20%;
  position: absolute;
  visibility: hidden; }

.close-contact-tab-img.active {
  visibility: visible;
  animation: swipe-up 0.5s, fade 0.5s; }

.close-contact-tab-img.hidden {
  visibility: visible;
  animation: swipe-down 0.5s, fadeout 0.5s;
  animation-delay: 50ms; }

/*		BRAND LOGO (top left corner)
*******************************************************************************/
.top-brand {
  position: fixed;
  top: 5%;
  z-index: 1;
  left: 3%;
  height: auto;
  width: 3.5%; }

.top-brand:hover {
  transform: scale(1.08);
  cursor: pointer; }
.brand-img {
  stroke-dasharray:4500;
  fill: #3caea3;
  stroke: #3caea3;
  stroke-width: 20px;
  stroke-miterlimit: 10;
  visibility: hidden; }

.brand-img.active {
  visibility: visible;
  /* animation: tracerbrand 5s; */
  animation: fade 2s ease-in-out; }

.back-brand {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 0; }

#particles-js {
  z-index: 0;
  position: fixed;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: all 2s ease; }


/*******************************************************************************
     _    _   _ ___ __  __    _  _____ ___ ___  _   _ ____
    / \  | \ | |_ _|  \/  |  / \|_   _|_ _/ _ \| \ | / ___|
   / _ \ |  \| || || |\/| | / _ \ | |  | | | | |  \| \___ \
  / ___ \| |\  || || |  | |/ ___ \| |  | | |_| | |\  |___) |
 /_/   \_\_| \_|___|_|  |_/_/   \_\_| |___\___/|_| \_|____/

	tag: animation section
*******************************************************************************/

.quick {
  transition: 1s ease; }
.fadeout {
  opacity: 0; }

@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeout {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes swipe-up {
  from {
    -webkit-transform: translateY(100%);
    transform: translateY(100%); }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes swipe-down {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  50% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0; }
  to {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0; } }
@keyframes swipe-right {
	from {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
	to {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@keyframes swipe-left {
	from {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity:1;
	}
	50% {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
		opacity:0;
	}
	to {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
		opacity:0;
	}
}
@keyframes tracerbrand {
  from {
    stroke-dashoffset: 4500;
    fill-opacity: 0; }
  30% {
    fill-opacity: 0; }
  60% {
    stroke-dashoffset: 0; }
  to {
    fill-opacity: 1; }}
@keyframes swipe-right-r {
	from {
		-webkit-transform: rotate(90deg) translateY(100%);
		transform: rotate(90deg) translateY(100%);
	}
	to {
		-webkit-transform: rotate(90deg) translateY(0);
		transform: rotate(90deg) translateY(0);
	}
}

@keyframes swipe-left-r {
	from {
		-webkit-transform: rotate(90deg) translateY(0);
		transform: rotate(90deg) translateY(0);
		opacity:1;
	}
	50% {
		-webkit-transform: rotate(90deg) translateY(100%);
		transform: rotate(90deg) translateY(100%);
		opacity:0;
	}
	to {
		-webkit-transform: rotate(90deg) translateY(100%);
		transform: rotate(90deg) translateY(100%);
		opacity:0;
	}
}

@keyframes slide-in {
  from {
    transform: translateX(-100px); }
  to {
    transform: translateX(0px); } }

@keyframes blinkonmax {
  0% {
    opacity: 0; }
  5% {
    opacity: 0; }
  6% {
    opacity: 1; }
  7% {
    opacity: 0; }
  9% {
    opacity: 0; }
  10% {
    opacity: 1; }
  11% {
    opacity: 0; }
  13% {
    opacity: 0; }
  14% {
    opacity: 1; }
  15% {
    opacity: 0; }
  16% {
    opacity: 1; }
  17% {
    opacity: 0; }
  21% {
    opacity: 0; }
  22% {
    opacity: 1; }
  23% {
    opacity: 0; }
  27% {
    opacity: 0; }
  28% {
    opacity: 1; }
  29% {
    opacity: 0; }
  30% {
    opacity: 0; }
  31% {
    opacity: 1; }
  32% {
    opacity: 0; }
  35% {
    opacity: 0; }
  36% {
    opacity: 1; }
  66% {
    opacity: 1; }
  67% {
    opacity: 0; }
  68% {
    opacity: 1; }
  70% {
    opacity: 0; }
  71% {
    opacity: 1; }
  72% {
    opacity: 0; }
  75% {
    opacity: 0; }
  76% {
    opacity: 1; }
  79% {
    opacity: 0; }
  85% {
    opacity: 0; }
  86% {
    opacity: 1; }
  87% {
    opacity: 0; }
  88% {
    opacity: 1; }
  89% {
    opacity: 0; }
  90% {
    opacity: 1; }
  91% {
    opacity: 0; }
  92% {
    opacity: 1; }
  93% {
    opacity: 0; }
  98% {
    opacity: 0; }
  99% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*******************************************************************************
____  _____ ____  ____   ___  _   _ ____ _____     _______
|  _ \| ____/ ___||  _ \ / _ \| \ | / ___|_ _\ \   / / ____|
| |_) |  _| \___ \| |_) | | | |  \| \___ \| | \ \ / /|  _|
|  _ <| |___ ___) |  __/| |_| | |\  |___) | |  \ V / | |___
|_| \_\_____|____/|_|    \___/|_| \_|____/___|  \_/  |_____|

// tags: responsive
********************************************************************************/

/* Mobile Layout */
@media only screen
and (max-width: 800px)
and (min-height: 501px) {

  html, body {
    overflow: auto;
  }
  .left-mainpage {
    position: relative;
    float: unset;
    width: 100%;
    max-height: 80%;
    padding-top: 10%;
    padding-bottom: 10%;
    z-index: 1;
    clear: both;
    display: flex;
    align-items: center;
    justify-content: right; }

  .right-mainpage {
    position: relative;
    float: unset;
    width: 90%;
    padding-left: 10%;
    height: auto;
    min-height: 100%;
    z-index: 1;
    clear: both;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-bottom: 10%; }

  .top-brand {
    left: 5%;
    top: 3%;
    width: 10%; }

  .contact-button {
    left: 5%;
    bottom: 3%;
    width: 25%;
    height: 6%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end; }
  .contact-button-img-holder {
    height: 100%;
    float: right;
    padding-right: 5%;
    position: unset; }
  .contact-button-img {
    height: 100%;
    width: auto; }

  .contact-tab {
    position: fixed;
  }
  .close-contact-tab {
  /* Placeholder (span) for Exit Contact Menu Button */
    height: 100%;
    width: 20%;
    padding-bottom: unset;
    float: right; }
  .close-contact-tab:hover {
    transform: scale(1.08); }

  .close-contact-tab-img {
    /* Exit Contact Menu Button Arrows */
    /**** Animation: pull-up/pull-down ****/
    height: 50%;
    top: 25%;
    width: auto;
    left: unset;
    padding-bottom: unset;
    transform: rotate(90deg);
    position: absolute;
    visibility: hidden;
    width: unset; }
  .close-contact-tab-img.active {
    visibility: visible;
    animation: swipe-right-r 0.5s, fade 0.5s; }
  .close-contact-tab-img.hidden {
    visibility: visible;
    animation: swipe-left-r 0.5s, fadeout 0.5s;
    animation-delay: 50ms; }

  .contact-1, .contact-2 {
  	width: 100%;
  	height: 40%;
    left: unset;
  	position: fixed;
  	text-align: right;
  	visibility: hidden; }
  .contact-1.active {
  	top: 0;
    left: unset;
  	animation: swipe-right 1s; }
  .contact-1.hidden {
  	top: 0;
    left: unset;
  	animation: swipe-left 2s; }
  .contact-2 {
  	height: 30% }
  .contact-2.active {
  	top: 40%;
    left: unset;
  	animation: swipe-right 1s; }
  .contact-2.hidden {
  	top: 40%;
    left: unset;
  	animation: swipe-left 2s;
  	animation-delay: 100ms; }

  .contact-3 {
  	width: 100%;
  	height: 30%;
  	top: 70%;
    left: unset;
    bottom: unset; }
  .contact-3.active {
  	visibility: visible;
  	animation: swipe-right 1s; }
  .contact-3.hidden {
  	visibility: visible;
  	animation: swipe-left 2s;
  	animation-delay: 200ms; }

  .contact-h1, .contact-h2, .contact-h3 {
  	font-size: 4.5vh;
  	top: 10%;
  	right: 12%;
  	position: relative; }

  .contact-deets {
  	font-size: 2vh;
  	top: 7%;
  	right: 10%;
  	position: relative;
  	padding: 4px;
  	clear: right; }
  #contact-LI, #contact-git, #contact-codepen, #contact-twit {
  	max-height: 7vw;
  	max-width: 7vw; }
  .contact-h3-deets {
  	font-size: 2vh;
  	top: 7%;
  	right: 10%;
  	position: relative;
  	padding: 4px; }

  .intro {
    font-size: 13vw; }
  .description {
    font-size: 2.5vh; }
  .header {
    text-align: right;
    position: absolute;
    padding-right: unset;
    left: 50%;
    transform: translate(-50%, 0);
    width: 75%; }
  .homelist-holder {
    width: 100%;
    padding-left: unset; }

  .line {
    display: none; }

  #aboutme-h2 {
    left: 42px; }
  #aboutme-h3 {
    left: 38px; }
  #aboutme-h4 {
    left: 42px; }
  #aboutme-h5 {
    left: 37px; }
  #aboutme-h6 {
    left: 43px; }

  #projects-h2 {
    left: 32px; }
  #projects-h3 {
    left: 38px; }
  #projects-h4 {
    left: 42px; }
  #projects-h5 {
    left: 37px; }
  #projects-h6 {
    left: 43px; }

  #resume-h2 {
    left: 42px; }
  #resume-h3 {
    left: 38px; }
  #resume-h4 {
    left: 48px; }
  #resume-h5 {
    left: 43px; }
  #resume-h6 {
    left: 31px; }

  #blog-h2 {
    left: 42px; }
  #blog-h3 {
    left: 48px; }
  #blog-h4 {
    left: 38px; }
  #blog-h5 {
    left: 33px; }
  #blog-h6 {
    left: 41px; }
}

@media only screen
and (min-width: 651px)
and (max-width: 800px)
and (min-height: 501px) {
  html, body {
    overflow: auto;
  }
  .left-mainpage {
    position: relative;
    float: unset;
    width: 100%;
    max-height: 80%;
    padding-top: 10%;
    padding-bottom: 10%;
    z-index: 1;
    clear: both;
    display: flex;
    align-items: center;
    justify-content: right; }

  .right-mainpage {
    position: relative;
    float: unset;
    width: 100%;
    height: auto;
    min-height: 100%;
    z-index: 1;
    clear: both;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-bottom: 10%; }

  .top-brand {
    left: 5%;
    top: 3%;
    width: 10%; }

  .contact-button {
    left: 5%;
    bottom: 3%;
    width: 25%;
    height: 6%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end; }
  .contact-button-img-holder {
    height: 100%;
    float: right;
    padding-right: 5%;
    position: unset; }
  .contact-button-img {
    height: 100%;
    width: auto; }

  .contact-tab {
    position: fixed;
  }
  .close-contact-tab {
  /* Placeholder (span) for Exit Contact Menu Button */
    height: 100%;
    width: 20%;
    padding-bottom: unset;
    float: right; }
  .close-contact-tab:hover {
    transform: scale(1.08); }

  .close-contact-tab-img {
    /* Exit Contact Menu Button Arrows */
    /**** Animation: pull-up/pull-down ****/
    height: 50%;
    top: 25%;
    width: auto;
    left: unset;
    padding-bottom: unset;
    transform: rotate(90deg);
    position: absolute;
    visibility: hidden;
    width: unset; }
  .close-contact-tab-img.active {
    visibility: visible;
    animation: swipe-right-r 0.5s, fade 0.5s; }
  .close-contact-tab-img.hidden {
    visibility: visible;
    animation: swipe-left-r 0.5s, fadeout 0.5s;
    animation-delay: 50ms; }

  .contact-1, .contact-2 {
    width: 100%;
    height: 40%;
    left: unset;
    position: fixed;
    text-align: right;
    visibility: hidden; }
  .contact-1.active {
    top: 0;
    left: unset;
    animation: swipe-right 1s; }
  .contact-1.hidden {
    top: 0;
    left: unset;
    animation: swipe-left 2s; }
  .contact-2 {
    height: 30% }
  .contact-2.active {
    top: 40%;
    left: unset;
    animation: swipe-right 1s; }
  .contact-2.hidden {
    top: 40%;
    left: unset;
    animation: swipe-left 2s;
    animation-delay: 100ms; }

  .contact-3 {
    width: 100%;
    height: 30%;
    top: 70%;
    left: unset;
    bottom: unset; }
  .contact-3.active {
    visibility: visible;
    animation: swipe-right 1s; }
  .contact-3.hidden {
    visibility: visible;
    animation: swipe-left 2s;
    animation-delay: 200ms; }

  .contact-h1, .contact-h2, .contact-h3 {
    font-size: 4.5vh;
    top: 10%;
    right: 12%;
    position: relative; }

  .contact-deets {
    font-size: 2vh;
    top: 7%;
    right: 10%;
    position: relative;
    padding: 4px;
    clear: right; }
  #contact-LI, #contact-git, #contact-codepen, #contact-twit {
    max-height: 5vw;
    max-width: 5vw; }
  .contact-h3-deets {
    font-size: 2vh;
    top: 7%;
    right: 10%;
    position: relative;
    padding: 4px; }

  .intro {
    font-size: 10vh; }
  .description {
    font-size: 2.5vh; }
  .header {
    text-align: right;
    position: relative;
    right: 10%;
    width: 75%; }
  .homelist-holder {
    width: 100%;
    padding-left: unset; }

  .title {
    font-size: 4vh;
    padding-top: 4vh;
    padding-bottom: 4vh; }
  .caption {
    font-size: 2.5vh;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh; }
}


/* 2000px and onwards (4K Screens and all) */
@media only screen
and (min-width: 2000px) {
  #body-container {
    width: 2000px;
    height: 1000px;
    left: unset;
    top: unset;
    margin: 0 auto;
    position: relative; }
  .header {
    width: 60%; }
  .intro {
    font-size: 75px; }
  .description {
    font-size: 30px; }
  .homelist-holder {
     }
  .title {
    font-size: 40px;
    padding-bottom: 50px;
    padding-top: 50px; }
  .caption {
    font-size: 30px;
    padding-bottom: 25px;
    padding-top: 25px; }
}
