.horizontal-center {
  display: flex;
  justify-content: center;
  min-width: 100vw;
}

.vertical-center {
  align-items: center;
  display: flex;
  min-height: 100vh;
}

.t--bold { font-weight: bold; }

.t--blue { color: $scific1g; }

.o--visible { visibility: visible; }
.o--hidden { visibility: hidden; }

.o--fadeout { opacity: 0 }
