.horizontal-center {
  display: flex;
  justify-content: center;
  min-width: 100vw;
}

.vertical-center {
  align-items: center;
  display: flex;
  min-height: 100vh;
}

.t--bold { font-weight: bold; }

.t--blue { color: $gradient-green-d; }
.t--green { color: $gradient-green; }

.o--visible { visibility: visible; }
.o--hidden { visibility: hidden; }

.o--fadeout { opacity: 0; }

.background-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  min-width: 100vw;
  width: 100%;
}
