// FONTS
$principal: 'Merriweather Sans', sans-serif;

// COLORS
$black: #000;
$white: #fff;
$grey: #565656;

$dark: #111;
$dark2: #2b2b2b;
$medium: #4345cc;
$light: #707793;

// crypto
$cryptoc1: #752aff;
$cryptoc2: #ff2843;
$cryptodark: #171717;
$cryptolight: #848484;
$cryptomedium: #2b2b2b;

// main color palette
$gradient-green: #03dac5;
$gradient-green-d: #03c4eb;
$gradient-purple: #56cae9;
$gradient-purple-d: #5680e9;
$gradient-red: #e5748c;
$gradient-red-d: #d83b61;
$gradient-yellow: #feff99;
$gradient-yellow-d: #f9fb00;

// OBJECT SIZES
$loader-size: 3rem;
$header-height: 13vh;

$project-categories: 5; // minus 1
$carousel-faces: 8;
$carousel-depth: 100vw;


:export { dark: $dark;
          dark2: $dark2;

          colorset0a  : $gradient-green;
          colorset0b  : $gradient-green-d;
          colorset1a  : $gradient-purple;
          colorset1b  : $gradient-purple-d;
          colorset2a  : $gradient-red;
          colorset2b  : $gradient-red-d;
          colorset3a  : $gradient-yellow;
          colorset3b  : $gradient-yellow-d;

          carouseldepth: $carousel-depth;
          carouselfaces: $carousel-faces; }
