
// COLORS
$black: #000;
$white: #fff;
$grey: #565656;

$dark-bg: #2b2b2b;

$dark: #2e3047;
$dark2: #3c3f58;
$medium: #43455c;
$light: #707793;

$green: #3bba9c;
$blue: #408da6;

  // scifi
$scific1: #cb0c59;
$scific2: #22a0b6;
$scific3: #00ff9f;
$scific4: #feff99;
$scific5: #0c4383;


// FONTSIZE


// OBJECT SIZES
$loader-size: 3rem;
$header-height: 13vh;

$project-categories: 5; // minus 1
$carousel-faces: 8;
$carousel-depth: 100vw;
:export { carouseldepth: $carousel-depth;
          carouselfaces: $carousel-faces; }
